@{
    ViewBag.Title = "Home Page";
}
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white">
                <h2>Bienvenido al Sistema de Administración del Acueducto</h2>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Esta aplicación está diseñada para el control y gestión de clientes del acueducto.
                    Puedes importar y exportar datos de clientes, actualizar su información, y crear nuevos registros.
                </p>
                <p class="card-text">
                    Además, el sistema te permite mantener un control detallado de los reportes de averías generados por los usuarios.
                </p>
                <p class="card-text">
                    También tienes la opción de cargar y editar información relevante del acueducto,
                    como textos históricos y fotografías que narran la historia de la ASADA.
                </p>
            </div>
        </div>
    </div>
</div>




@section scripts{
}